.container__menu-bar > ul, a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: beige;
  font-weight: 200;
}

.container__menu-bar {
  width: 100vw;
}

.container__menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
}

