/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

p {
  font-family: 'Segoe UI';
}

body {
  background-color: #111111;
  background-image: url("bg.jpg");
  font-family: 'Segoe UI';
  width: 100%
}

a{
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #752072;

}

h1 {
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-weight: 300;
}
